html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #233e43;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz {
  background: #e3f6f5;
  width: 30rem;
  padding: 4rem;
  text-align: center;
  border-radius: .3rem;
}

#partial_score{
  font-family: sans-serif;
  padding: 3rem 1rem 0.1rem 1rem;
  text-align: center;
  border-color:#233e43 ;
  border-radius: 1rem
  
}
h1,
h2,
h3,
label {
  color: #57636e;
  font-size: 3rem;
  text-align: center;
  padding: 2px 0px;
  border-radius: 50px;
}

h1,
h2,
h3,
label{

  font-size:1.7rem;
}
.show_rules{
  font-size: 1.3rem;
  text-align: left;
  justify-content: flex;
}

.menu_choices{
  background-color: #34a3a3;
  width: 50px;
  font-size: 20px;
  color: #fff;
  border-radius: 1rem;
  padding: 7px 30px;
  margin: 500px 45px 100px 10px;
  text-decoration: none;
  align-items: center;
  
  
}

.menu_choices:hover{
  cursor: pointer;
  background-color:#57636e;

}


#question {
  font-family: sans-serif;
  font-size: 1.7rem;
  color: #5a6772;
}

.buttons {
  margin-top: 30px;
}

.button {
  background-color: #34a3a3;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border-radius: 3rem;
  padding: 10px 20px;
  margin: 10px 0px 10px 0px;
}

.quit{
  border-color: #aa1b11 ;
  background-color: #e62e21;
  font-size: 14px;
  width: 140px;
  margin: 10px 40px 10px 40px;
}
#progress {
  color: #2b2b2b;
  font-size: 18px;
}


#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #57636e;
}

#button_quit:hover{
 background-color: rgb(177, 6, 6);
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}

#username{
  padding: 0.2rem 0.8rem;
  margin: 1rem 0rem 2rem 0rem;
 

}